@mixin perfect-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#touchable-button::before {
  @include perfect-center-flex;
  content: "touch me !";
  width: 350px;
  height: 80px;
  background-color: $dark-grey;
  color: $bright-yellow-color;
  position: absolute;
  bottom: 25%;
  left: 10%;
  opacity: 0;
}

#touchable-button {
  &:hover::before {
    animation: button-hover-animation 0.3s ease-in-out forwards alternate;
  }
}

@keyframes button-hover-animation {
  0% {
    bottom: 25%;
    left: 10%;
    opacity: 0.1;
  }
  50% {
    bottom: 15%;
    left: 5%;
    opacity: 0.4;
  }

  100% {
    bottom: 0%;
    left: 0%;
    opacity: 1;
  }
}
