@import "./_touchable-button-click-animation";
@import "./__touchable-button-focus-texts";
@import "./__touchable-button-before";
@import "./../../shared/colors.scss";

@keyframes hide-text {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@mixin button-focus {
  &:focus {
    @include button-click-animation;
    @include button-focus-texts;
  }

  &:not(:focus) {
    @include button-before;

    &:hover::before {
      content: 0;
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }

  &:focus::before {
    animation: hide-text 5s forwards 5s;
  }

  &:focus::after {
    animation: hide-text 5s forwards 5s;
  }
}
