@import "./../../shared/colors";

@mixin button-after {
  &::after {
    content: "now get back to work.";
    font-size: 24px;
    line-height: 50px;
    white-space: pre;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-grey;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
