@import "./__touchable-button-hover-animation";
@import "./../../shared/perfect-center-flex.scss";

@mixin button-before {
  &::before {
    @include perfect-center-flex;
    content: "touch me !";
    width: 350px;
    height: 80px;
    background-color: $dark-grey;
    color: $bright-yellow-color;
    position: absolute;
    bottom: 25%;
    left: 10%;
    opacity: 0;
    z-index: 1;
  }
  &:hover::before {
    @include button-hover-animation;
  }
}
